Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: white;  
    }  
    button {   
        background-color: #ffe4b2;   
        width: 100%;  
            color: black;   
            padding: 15px;   
            margin: 10px 0px;   
            border: none;   
            cursor: pointer;   
            }   
    
    input[type=text], input[type=password] {   
            width: 100%;   
            margin: 8px 0;  
            padding: 12px 20px;   
            display: inline-block;   
            border: 2px solid #ffe4b2;   
            box-sizing: border-box;   
        }  
    button:hover {    
            opacity: 0.7;   
        }   
    
        
    .container {   
            display : block;
            padding: 25px;   
            background-color: plum;  
        }   

    .right_place {
        color: #fff;
        float: right;
    }

    .left_place {
        color: #fff;
        float: left;
    }
   





    .dropbtn {
        background-color: #ffe4b2;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        }

    .dropdown {
        position: relative;
        display: inline-block;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }

    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: #3e8e41;}    

    item_box {
        width: 700px;
        border: 5px solid plum;
        padding: 50px;
        margin: auto;
        display:block; 
        }